<table width="100%" height="100%">
    <tbody>
        <tr width="33.3%" height="33.3%" id="Favorites">
            <td class="verticalTop">
                <div align="center" class="tituloProfile">Temas Favoritos</div>
                <div align="center" id="scroller" class="busqueda red">
                    <input id="tema" class="tema" placeholder="Introduzca palabra o frase de interés">
                </div>
                <div class="makePredictions center" colspan="3">
                    <button onclick="acciones.addTema();" type="button" class="topcoat-button--cta">Agregar a la lista</button>
                </div>
                <div id="wrapperProfile">
                    <ul id="lista" class="list"></ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>